<% content_for :title, "Editing trip" %>

<h1>Editing trip</h1>

<%= render t('.title'), trip: @trip %>

<br>

<div>
  <%= link_to t('.show_trip'), @trip %> |
  <%= link_to t('trips.back'), trips_path %>
</div>
